@model Kahla.Home.Views.Shared.Components.KahlaNav.KahlaNavViewModel
@using Aiursoft.XelNaga.Models
@using Aiursoft.Gateway.SDK.Services
@using Aiursoft.Probe.SDK.Services
@inject GatewayLocator GatewayLocator
@inject ProbeLocator ProbeLocator
<header>
    <div class="container-new py-6 px-3 text-center">
        <a href="/">
            <img src="@ProbeLocator.GetProbeOpenAddress("aiursoft/512x512.png")" alt="Kahla Desktop" width="96" height="96">
        </a>
        <ul class="nav list-style-none d-flex flex-justify-center f4">
            <li>
                <a class="d-inline-block m-2 current" href="@ServiceLocation.WWW">@Localizer["Aiursoft"]</a>
            </li>
            <li>
                <a class="d-inline-block m-2 current" href="https://wiki.aiursoft.com/Kahla/What%20is%20Kahla.md">@Localizer["About Kahla"]</a>
            </li>
            <li>
                <a class="d-inline-block m-2" href="https://github.com/AiursoftWeb/Kahla.App/releases">@Localizer["Release notes"]</a>
            </li>
            <li>
                <a class="d-inline-block m-2" href="@(new AiurUrl(GatewayLocator.Endpoint, "Api", "SetLang", new { Host = $"{Context.Request.Scheme}://{Context.Request.Host}", Path = Context.Request.Path }))">
                    @Localizer["Language"]
                </a>
            </li>
            @if (Model.IsProduction)
            {
                <li>
                    <a class="d-inline-block m-2" href="//staging.kahla.app">
                        @Localizer["Staging version"]
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a class="d-inline-block m-2" href="//www.kahla.app">
                        @Localizer["Production version"]
                    </a>
                </li>
            }
            <li>
                <a class="d-inline-block m-2" href="@Configuration["GitHubAddress"]">
                    @Localizer["GitHub"]
                </a>
            </li>
        </ul>
    </div>
</header>