@model Kahla.Home.Views.Shared.Components.KahlaNav.KahlaNavViewModel
@using Aiursoft.AiurProtocol;
@using Aiursoft.Probe.SDK.Services
@using Microsoft.Extensions.Options
@using Aiursoft.Directory.SDK.Configuration
@inject IOptions<DirectoryConfiguration> DirectoryLocator
@inject ProbeSettingsFetcher ProbeLocator
<header>
    <div class="container-new py-6 px-3 text-center">
        <a href="/">
            <img src="@await ProbeLocator.GetProbeOpenAddressAsync("aiursoft/512x512.png")" alt="Kahla Desktop" width="96" height="96">
        </a>
        <ul class="nav list-style-none d-flex flex-justify-center f4">
            <li>
                <a class="d-inline-block m-2 current" href="@ServiceLocation.WWW">@Localizer["Aiursoft"]</a>
            </li>
            <li>
                <a class="d-inline-block m-2 current" href="https://wiki.aiursoft.com/Kahla/What%20is%20Kahla.md">@Localizer["Documentation"]</a>
            </li>
            <li>
                @* TODO: Load from configuration. *@
                <a class="d-inline-block m-2" href="https://gitlab.aiursoft.cn/aiursoft/kahla.app/-/releases">@Localizer["Release notes"]</a>
            </li>
            <li>
                <a class="d-inline-block m-2" href="@Configuration["GitLabAddress"]">
                    @Localizer["GitLab"]
                </a>
            </li>
        </ul>
    </div>
</header>